In [1]:
# Import dependencies
import pandas as pd
from datetime import datetime as dt
from scipy import stats as sts

In [2]:
# Import csv file into dataframe
measurements_df = pd.read_csv('Resources/hawaii_measurements.csv')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
measurements_df["date"] = pd.to_datetime(measurements_df["date"], format="%Y-%m-%d")

In [4]:
# Check data type of dates
measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
# Set the date column as the DataFrame index
measurements_df.set_index("date", drop=True, inplace=True)
measurements_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [6]:
# Find the June temperatures for all stations
df = measurements_df.reset_index()

june = df.loc[df["date"].dt.month == 6]
june.set_index("date", inplace=True)
june

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [7]:
# Find the average temperature in June
avg_june = june.tobs.mean()
print(f"The average temperature in June is {avg_june:.2f}")

The average temperature in June is 74.94

In [8]:
# Make into a list
june_temperatures = june["tobs"]

In [9]:
# Find the December temperatures for all stations
dec = df.loc[df["date"].dt.month == 12]
dec.set_index("date", inplace=True)
dec

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [10]:
# Find the average temperature in December
avg_dec = dec.tobs.mean()
print(f"The average temperature in December is {avg_dec:.2f}")

The average temperature in December is 71.04

In [11]:
# Make into a list
dec_temperatures = dec["tobs"]

In [16]:
# t-test: Unpaired (because lists were different sizes)
sts.ttest_ind(june_temperatures, dec_temperatures)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

## Analysis: